.Logo {
    padding-top: 5px;
  height: 50px;
  pointer-events: none;
  @media (prefers-reduced-motion: no-preference) {
    animation: App-logo-spin 5s 20s linear;
  }
}
 html{
    text-align: center;
    color: gold;
    background-color: #191919;
 }
 hr {
    border-color: gold;
}
h1 {
    background-color: #191919;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
input {
    padding-left: 15px;
    padding-right: 10px;
    background-color: gray;
    color: white;
}
input::placeholder {
    color: darkgray;
}
.submit {
    background-color: #191919;
    border-color: aqua;
    color: aqua;
}
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}