<!DOCTYPE html>
<html style="text-align: center;
color: gold;
background-color: #191919;">
<head>
    <link rel="stylesheet" type="text/css" href="./App.css">
</head>

<h1 style=" background-color: #191919;
min-height: 50px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;">Search Engine</h1>
<form action="/result" method="GET">
    <input type="text" name="search" placeholder="search">
    <input class="submit" type="submit">
</form>

</html>